body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#randomButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #445261;
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

#randomButton:hover {
    background-color: #202830;
    transform: scale(1.1);
}